$colors: (
  'RadicalRed': #fc264c,
  'TorchRed': #f5222f,
  'KellyGreen': #52c41a,
  'DodgerBlue': #1890ff,
  'White': #ffffff,
  'Ivory': #f6ffed,
  'Gainsboro': #d9d9d9,
  'Silver': #cccccc,
  'Gray': #777777,
  'DarkGray': #454545,
  'Black': #000000,
  'DarkTangerine': #FAAD14,
);

// If these values are changed, we should also 
// change in craco.config.js (and restart server)
$primary-color: map-get($map: $colors,
    $key: 'RadicalRed',
  );