$font-family: 'Arial';

$font-sizes: (
  'title': 20px,
  'subtitle': 16px,
  'base': 14px,
  'text': 12px,
);

$font-weights: (
  'light': 100,
  'normal': 200,
  'heavy': 400,
  'bold': 500,
  'extra-bold': 600,
);
